{% extends 'layout.html' %}

{% block title %} 查詢結果 {% endblock %}

{% block content %}
<div class="card-columns"></div>

<script>
    let page = 1;
    let card_columns = document.querySelector('.card-columns');

    window.onload = async function () {
        getAndRenderBooks();
    }

    window.addEventListener('scroll', function () {
        let windowMaxHeight = document.body.scrollHeight - window.innerHeight;
        let bodyHeight = document.documentElement.scrollTop;

        if (bodyHeight == windowMaxHeight) {
            getAndRenderBooks();
        }
    });

    function getBooks() {
        ajax_url = `/ajax/${'{{ keyword }}'.length === 0 ? 1 : 0}`;

        return fetch(ajax_url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                url: '{{ url }}',
                keyword: '{{ keyword }}',
                page: page,
            })
        }).then(res => res.json()).then(res => res);
    }

    function renderBooks(response) {
        response.forEach(data => {
            let cardDiv = document.createElement('div');
            let cardImg = document.createElement('img');
            let cardBody = document.createElement('div');
            let cardDetail = document.createElement('p');
            let cardPrice = document.createElement('p');
            let cardStatus = document.createElement('p');
            let cardH5 = document.createElement('h5');
            let cardButton = document.createElement('a');

            cardDiv.className = 'card';
            cardDiv.style.width = '18rem';
            cardImg.className = 'card-img-top';
            cardImg.src = data.img_url;
            cardBody.className = 'card-body textcenter';
            cardH5.className = 'card-title';
            cardH5.innerText = data.name;
            cardPrice.className = 'card-text';
            cardPrice.innerText = data.price
            cardButton.className = 'btn btn-primary';
            cardButton.innerText = '查看書本';
            cardButton.href = data.url;

            if (Object.keys(data).indexOf('detail') != -1) {
                cardDetail.className = 'card-text';
                cardDetail.innerText = `${data.lang}/${data.author}/${data.category}/${data.publish_date}`;
                cardStatus.className = 'card-text';
                cardStatus.innerText = data.status;
            }

            cardBody.append(cardH5, cardDetail, cardPrice, cardStatus, cardButton);
            cardDiv.append(cardImg, cardBody)
            card_columns.append(cardDiv);
        });
    }

    async function getAndRenderBooks() {
        let books = await getBooks();

        renderBooks(books);
        page++;
    }
</script>
{% endblock %}